/autom4te.cache
Makefile
Makefile.in
/config.*
/configure
/install-sh
/missing
/depcomp
/libtool
/ltmain.sh

.deps
.libs

*~
*.bak
*.o
*.so
*.a
*.Po
*.Tpo
*.loT
*.lo
*.la

/src/matlabfind
/src/matlab.sf_conf
/aclocal.m4

/stamp*
